* {
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 1200px;
  margin: auto;
}
.logo-image {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 19px;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: gray;
}
/* common button */
.btn {
  background-color: #1d4ed8;
  color: aliceblue;
  border: none;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* header end */

/* image */

#hero-pic {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("./assets/banner.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 550px;
  display: flex;
  justify-content: center;
}

.hero-content {
  width: 45%;
  color: white;
  text-align: center;
  margin-top: 120px;
}

.hero-content h1 {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 130px;
}

/* image end */


/* speaker point */


#speakers{
    margin: 80px 0;
}

#speakers h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.speakers-main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.spekers-child-card{
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.spekers-child-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.spekers-child-card span{
    color: #2563eb;
    font-size: 12px;
    font-weight: bold;
}

.spekers-child-card h3{
    margin: 10px 0 5px;
    font-size: 22px;
}

.spekers-child-card p{
    color: #666;
    font-size: 15px;
    gap: 20px;
}